body {
    font-family: "Poppins";
}

a {
    text-decoration: none;
    color: #242424;
}

.text-dark {
    color: #242424;
}

.navbar {
    background-color: #f4f4f4;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: #0a4191;
}

.nav-item {
    margin: 0 20px;
}

.btn {
    border-radius: 120px;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #0a4191;
    border: none;
}

.btn-outline-primary {
    border: 1px solid #0a4191;
    color: #242424;
}

.btn-outline-primary:hover {
    background-color: #0a4191;
}

.btn-primary:hover {
    background-color: #05224d;
}

.svg-home {
    width: 100%;
}

.card {
    width: 100%;
}

.card-tutors {
    border: none;
}

section {
    padding: 70px 0;
}

.header {
    background-color: #f4f4f4;
    padding: 16px 0;
    min-height: 600px;
}

.profile-tutors {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* Tutors */

/* Testimonial */
.card-testimonial {
    padding: 30px 10px;
}

.testimonial-name {
    font-style: italic;
}

/* Course */
#course_list {
    padding: 140px 0;
    min-height: 634px;
}

/* Detail Course */
#detail {
    padding: 100px 0;
    min-height: 700px;
}

/* Auth */
#auth {
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* Utilities */
.search-input {
    border-radius: 100px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer a:hover {
    color: #0a4191;
}

footer h4 {
    color: #0a4191;
}

@media only screen and (max-width: 600px) {
    #statistic-course {
        text-align: center;
    }

    #category-button-section {
        flex-direction: column;
    }
}
